################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library1/bin/Debug
/Library1/obj/Debug
