################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library1/bin/
/Library1/obj/
FunctionalDB.suo
